<div class="container">
  <div class="body d-md-flex align-items-center justify-content-between">
    <div class="box-1 mt-md-0 mt-5">
      <img src="assets/greenleaves.jpg" alt="image">
    </div>
    <div class=" box-2 d-flex flex-column h-100" *ngIf="!isConfirm">
      <div class="mt-5">
        <div class="row">
          <div class="col mb-2" style ="padding-left: 25px">
            <p class="mb-2 h-1" style="color: #7f4722">Create Account.</p>
            <p class="text-signUp-muted mb-2">Create account to start tracking your food miles.</p>
            </div>
        </div>
        <div class="card-body" *ngIf="!isConfirm">
          <div class="row">
            <div class="col mb-2">
              <div class="col mb-2" style ="padding: 25px">
                <label for="email" class="form-label">Email:</label>
                <input type="email" id="email" name="email" #email="ngModel" [(ngModel)]="user.email" class="form-control form-control-sm">
              </div>
              <div class="row">
                <div class="col mb-2" style ="padding: 25px">
                  <label for="password" class="form-label">Password:</label>
                  <div class="input-group input-group-sm">
                    <input [type]="user.showPassword ? 'text' : 'password'" id="password" name="password" #password="ngModel" [(ngModel)]="user.password" class="form-control form-control-sm">
                    <button type="button" class="btn btn-outline-secondary" (click)="user.showPassword = !user.showPassword">
                      <i class="bi" [ngClass]="{'bi-eye-fill': !user.showPassword, 'bi-eye-slash-fill': user.showPassword}"></i>
                    </button>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col d-grid" style ="padding: 25px">
                  <button type="button" (click)="signUp()" class="btn btn-sm" style="background-color: #ffede7; color: #7f4722" [disabled]="loading">
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                    Sign up
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class=" box-2 d-flex flex-column h-100" *ngIf="isConfirm">
      <div class="mt-5">
        <div class="row">
          <div class="col mb-2" style ="padding-left: 25px">
            <p class="mb-2 h-1" style="color: #7f4722">Validate Account.</p>
            <p class="text-signIn-muted mb-2">Please enter code sent to {{user.email}}.</p>
          </div>
        </div>
        <div class="card-body" *ngIf="isConfirm">
          <div class="row">
            <div class="col mb-2" style ="padding: 25px">
              <label for="code" class="form-label">Code:</label>
              <input type="text" id="code" name="code" #code="ngModel" [(ngModel)]="user.code" class="form-control form-control-sm">
            </div>
          </div>
          <div class="row">
            <div class="col d-grid" style ="padding: 25px">
              <button type="button" (click)="confirmSignUp()" class="btn btn-sm" style="background-color: #ffede7; color: #7f4722" [disabled]="loading">
                <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
                Confirm
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
