<nav class="navbar navbar-expand-lg navbar-scroll shadow-0" style="background-color: #ffede7;">
  <div class="container">
    <a class="navbar-brand" href="#">Food Miles</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon d-flex justify-content-start align-items-center"><i class="fas fa-bars"></i></span>
    </button>
    <div id="navbarContent" class="collapse navbar-collapse">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/signUp" routerLinkActive="active" *ngIf="!(isAuthenticated$ | async)">Sign up</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/signIn" routerLinkActive="active" *ngIf="!(isAuthenticated$ | async)">Sign in</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/profile" routerLinkActive="active" *ngIf="(isAuthenticated$ | async)">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="" (click)="signOut()" *ngIf="(isAuthenticated$ | async)">Sign out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/shoppingList" routerLinkActive="active" *ngIf="(isAuthenticated$ | async)">Shopping List</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/searchItem" routerLinkActive="active" *ngIf="(isAuthenticated$ | async)">Search Item</a>
        </li>
        <li class="nav-item">
          <a class="nav-link px-3" routerLink="/savedList" routerLinkActive="active" *ngIf="(isAuthenticated$ | async)">Saved Lists</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
