<div class="container p-5">
  <div class="row">
    <div class="col-12">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-body p-4">
              <h4 class="card-title" style="color: #07391d">Search item</h4>
<!--              <h6 class="card-subtitle text-muted pb-4">Search food item to view its food miles</h6>-->

              <form class="row form-horizontal pb-2" [formGroup]="searchItemForm" (ngSubmit)="onSubmit()">
                <div class="col">
                  <div class="row">
                    <div class="col-2">
                      <label for="name">Food: </label>
                    </div>
                    <div class="col-10">
                      <input id="name" type="text" class="form-control" formControlName="name">
                    </div>
                  </div>
                </div>
                <div class="col">
                  <div class="row">
                    <div class="col-2">
                      <label for="origin">Origin: </label>
                    </div>
                    <div class="col-10">
                      <input id="origin" type="text" class="form-control" formControlName="origin">
                    </div>
                  </div>
                </div>
                <div class="col d-grid">
                  <button type="submit" class="btn btn-sm" style="background-color: #CFE6D0; color: #07391d">Search Item</button>
                </div>
              </form>
              <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                {{ errorMessage }}
                <p></p>
                <p *ngIf="suggestions">Suggestions: {{ suggestions }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-4"  *ngIf="isFormSubmitted">
          <app-display-item [name]="name" [origin]="origin" [totalDistance]="totalDistance" [totalEmissions]="totalEmissions" [totalLeadTime]="totalLeadTime"></app-display-item>
        </div>
        <div class="col-8" *ngIf="isFormSubmitted">
          <app-map [routeInfo]="routeInfo" [points]="points"></app-map>
        </div>
      </div>
      <div class="row" *ngIf="isFormSubmitted">
        <div class="col-12" *ngIf="isFormSubmitted">
          <app-route-details [routeInfo]="routeInfo"></app-route-details>
        </div>
      </div>
    </div>
<!--    <div class="col-4">-->
<!--      <app-shopping-list></app-shopping-list>-->
<!--    </div>-->
  </div>
</div>
