<div class="container">
  <div class="body d-md-flex align-items-center justify-content-between">
    <div class=" box-2 d-flex flex-column h-100">
      <div class="mt-5">
        <p class="mb-1 h-1">Search item</p>
        <p class="text-muted mb-2">Search food item to view its food miles</p>
        <div class="card-body">
          <div class="row">
            <div class="col mb-2">
              <div class="col mb-2"  style="padding: 30px">
                <label for="name" class="form-label">Food:</label>
                <input type="name" id="name" name="name" #name="ngModel" [(ngModel)]="food.name" class="form-control form-control-sm">
              </div>
              <div class="row">
                <div class="col mb-2" style ="padding: 30px">
                  <label for="origin" class="form-label">Origin:</label>
                  <input type="origin" id="origin" name="origin" #origin="ngModel" [(ngModel)]="food.origin" class="form-control form-control-sm">
                </div>
              </div>
              <div class="row">
                <div class="col d-grid" style ="padding: 30px">
                  <button type="button" (click)="searchItem()" class="btn btn-sm" style="background-color: #EACBBF">
  <!--                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>-->
                    Search Item
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
