.legend {
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
.legend p {
  margin: 5px;
}
.truck {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: pink;
  margin-right: 5px;
}
.legend .rail {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: orange;
  margin-right: 5px;
}
.legend .ship {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: blue;
  margin-right: 5px;
}
.legend .barge {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: purple;
  margin-right: 5px;
}
