.row-details {
  background-color: #CFE6D0;
  border: 1px solid #ddd;
  padding: 10px;
  position: absolute;
  top: 0%;
  left: calc(100% + 10px);
  z-index: 1;
  width: 550px;
  border-radius: 5px;
}

