<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col">
      <div class="row d-flex align-items-center justify-content-center">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title" style="color: #07391d">{{name.name}}</h4>
            <p class="text-muted mb-2">Calculated food miles for your search</p><p></p>
            <div class="row">
              <div class="col-6">
                  <div class="col">
                    <p>Name:</p>
                    <p>Origin:</p>
                    <p>Distance:</p>
                    <p>Emissions:</p>
                    <p>Lead Time:</p>
                  </div>
              </div>
              <div class="col-6">
                  <div class="col">
                    <p>{{name.name}}</p>
                    <p>{{origin.origin}}</p>
                    <p>{{totalDistance.total_distance}} km</p>
                    <p>{{totalEmissions.total_emissions}} kg CO2</p>
                    <p>{{totalLeadTime.total_lead_time}} mins</p>
                  </div>
              </div>
            </div>
            <div class="row">
              <div class="col d-grid" style="padding: 30px">
                <button type="button" (click)="addList()" class="btn btn-sm" style="background-color: #CFE6D0; color: #07391d">Add to list</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

