<div class="row d-flex align-items-center justify-content-center">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-body p-4">
        <div class="row pb-4">
          <div class="col">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th scope="col">Origin</th>
                  <th scope="col">Distance</th>
                  <th scope="col">Emissions</th>
                  <th scope="col">Lead Time</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of items; let i=index">
                  <th scope="row">{{i+1}}</th>
                  <td>{{ item.itemDetails.name }}</td>
                  <td>{{ item.itemDetails.origin }}</td>
                  <td>{{ item.itemDetails.distance }}</td>
                  <td>{{ item.itemDetails.emissions }}</td>
                  <td>{{ item.itemDetails.lead_time }}</td>
                  <td><button class="btn btn-sm" style="background-color: #CFE6D0; color: #07391d" (click)="deleteItem(i)"><i class="bi bi-trash"></i></button></td>
<!--                  <td><button type="button" (click)="deleteItem(i)">Delete</button></td>-->
                </tr>
              </tbody>
          </table>
          </div>
        </div>
        <div class="row pb-4">
          <h6>Total food miles: {{ totalDistance.total_distance }}</h6>
          <h6>Total food miles: {{ totalEmissions.total_emissions }}</h6>
          <h6>Total food miles: {{ totalLeadTime.total_lead_time }}</h6>
        </div>
        <div class="row">
          <div class="col d-grid">
            <button type="button" (click)="saveList()" class="btn btn-sm" style="background-color: #CFE6D0; color: #07391d">
                <!-- <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>-->
              Save List
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
<!--<div class="container">-->
<!--  <table class="body d-md-flex align-items-center justify-content-between" style="position: relative; width: 720px; height: 440px; margin: 20px auto; border: 1px solid #dddd; border-radius: 18px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Origin</th>-->
<!--      <th>Miles</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let item of items">-->
<!--      <td>{{ item?.itemDetails?.name }}</td>-->
<!--      <td>{{ item?.itemDetails?.origin }}</td>-->
<!--      <td>{{ item?.itemDetails?.miles }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
