<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Origin</th>
    <th>Miles</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of items">
    <td>{{ item.itemDetails.name }}</td>
    <td>{{ item.itemDetails.origin }}</td>
    <td>{{ item.itemDetails.miles }}</td>
  </tr>
  </tbody>
</table>
<!--<div class="container">-->
<!--  <table class="body d-md-flex align-items-center justify-content-between" style="position: relative; width: 720px; height: 440px; margin: 20px auto; border: 1px solid #dddd; border-radius: 18px; overflow: hidden; box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;">-->
<!--    <thead>-->
<!--    <tr>-->
<!--      <th>Name</th>-->
<!--      <th>Origin</th>-->
<!--      <th>Miles</th>-->
<!--    </tr>-->
<!--    </thead>-->
<!--    <tbody>-->
<!--    <tr *ngFor="let item of items">-->
<!--      <td>{{ item?.itemDetails?.name }}</td>-->
<!--      <td>{{ item?.itemDetails?.origin }}</td>-->
<!--      <td>{{ item?.itemDetails?.miles }}</td>-->
<!--    </tr>-->
<!--    </tbody>-->
<!--  </table>-->
<!--</div>-->
