<div class="row d-flex align-items-center justify-content-center">
  <div class="col"></div>
  <div class="col">
    <div class="card">
      <div class="card-body p-4">
        <div class="row pb-4">
          <div class="col">
            <table class="table table-hover">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Created At</th>
                <th scope="col">Total Distance</th>
                <th scope="col">Total Emissions</th>
                <th scope="col">Total Miles</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let item of createdAtList; let i=index" (mouseover)="showDetails(i)" (mouseout)="hideDetails()" [ngClass]="{ 'table-active': i === activeRow }">
                <th scope="row">{{i+1}}</th>
                <td>{{ item }}</td>
                <td>{{ totalDistanceList[i] }}</td>
                <td>{{ totalEmissionsList[i] }}</td>
                <td>{{ totalLeadTimeList[i] }}</td>
                <div>
                  <app-row-details *ngIf="i === activeRow" [createdAt]="item" [listDetails]="listDetails[i]"></app-row-details>
                </div>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col"></div>
</div>
